.section {
  background-color: #000613;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.section .div {
  background-color: #000613;
  height: 5032px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.section .overlap {
  height: 2206px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.section .vector {
  height: 1229px;
  left: 708px;
  position: absolute;
  top: 650px;
  width: 1158px;
}

.section .placeholder-image {
  height: 719px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.section .group {
  height: 719px;
}

.section .overlap-group {
  height: 719px;
  position: relative;
  width: 1920px;
}

.section .adobestock {
  height: 719px;
  left: 340px;
  position: absolute;
  top: 0;
  width: 1580px;
}

.section .rectangle {
  background: linear-gradient(180deg, rgb(0, 6, 19) 27.53%, rgba(0, 6, 19, 0) 100%);
  height: 719px;
  left: 420px;
  position: absolute;
  top: 0;
  width: 718px;
}

.section .rectangle-2 {
  background: linear-gradient(180deg, rgb(0, 6, 19) 27.53%, rgba(0, 6, 19, 0) 100%);
  height: 719px;
  left: 1323px;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 597px;
}

.section .rectangle-3 {
  background: linear-gradient(180deg, rgb(0, 6, 19) 27.53%, rgba(0, 6, 19, 0) 100%);
  height: 1920px;
  left: 868px;
  position: absolute;
  top: -333px;
  transform: rotate(-90deg);
  width: 183px;
}

.section .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 72px;
  left: 420px;
  position: absolute;
  top: 195px;
}

.section .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 42px;
  position: relative;
}

.section .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.section .text-wrapper {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 70px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .devops-engineer {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 58px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .p {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 36px;
  position: relative;
  width: fit-content;
}

.section .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.section .button {
  all: unset;
  align-items: center;
  background-color: #173bdd;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px 42px 10px;
  position: relative;
  width: 229px;
}

.section .link-download-resume {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.section .link-download-resume-wrapper {
  all: unset;
  align-items: center;
  background-color: #efefef;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px 42px 10px;
  position: relative;
  width: 229px;
}

.section .link-download-resume-2 {
  color: #333333;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.section .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  left: 420px;
  position: absolute;
  top: 787px;
}

.section .text-wrapper-2 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 46px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .line {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 1080px;
}

.section .i-am-a-devops {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 320px;
  left: 420px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 1185px;
  width: 522px;
}

.section .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  left: 1221px;
  position: absolute;
  top: 1178px;
}

.section .text-wrapper-3 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .text-wrapper-4 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 279px;
}

.section .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  left: 1221px;
  position: absolute;
  top: 1392px;
}

.section .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  gap: 2px;
  left: 1066px;
  position: absolute;
  top: 1168px;
}

.section .text-wrapper-5 {
  color: #173bdd;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 110px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .text-wrapper-6 {
  color: #173bdd;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  gap: 2px;
  left: 1066px;
  position: absolute;
  top: 1382px;
}

.section .frame-10 {
  align-items: center;
  display: inline-flex;
  gap: 45px;
  left: 404px;
  position: absolute;
  top: 877px;
}

.section .profile-picture {
  height: 260.49px;
  position: relative;
  width: 260.49px;
}

.section .mask-group-wrapper {
  border: 1.92px solid;
  border-color: #173bdd;
  border-radius: 130.25px;
  height: 260px;
  position: relative;
  width: 260px;
}

.section .mask-group {
  height: 230px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 230px;
}

.section .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  height: 159px;
  position: relative;
}

.section .image {
  height: 32.06px;
  position: relative;
  width: 38.42px;
}

.section .text-wrapper-7 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  width: 578.4px;
}

.section .text-wrapper-8 {
  color: #131b2c;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20.2px;
  font-weight: 200;
  height: 28px;
  left: 464px;
  letter-spacing: 0;
  line-height: 27.9px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.section .frame-12 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
  left: 420px;
  position: absolute;
  top: 1641px;
}

.section .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.section .frame-14 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 24px 24px;
  position: relative;
  width: 1077px;
}

.section .frame-15 {
  align-items: flex-start;
  background-color: #0a1327;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  padding: 20px 32px 24px;
  position: relative;
}

.section .img {
  height: 30.05px;
  margin-left: -1.25px;
  margin-top: -1.25px;
  position: relative;
  width: 32.17px;
}

.section .text-wrapper-9 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  width: 279px;
}

.section .frame-16 {
  align-items: flex-start;
  background-color: #0a1327;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  height: 225px;
  padding: 20px 32px 24px;
  position: relative;
}

.section .vector-2 {
  height: 25.58px;
  position: relative;
  width: 35.18px;
}

.section .vector-3 {
  height: 31.35px;
  position: relative;
  width: 32.96px;
}

.section .text-wrapper-10 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -1.35px;
  position: relative;
  width: 279px;
}

.section .vector-4 {
  height: 32.17px;
  margin-left: -1.25px;
  margin-top: -1.25px;
  position: relative;
  width: 32.17px;
}

.section .vector-5 {
  height: 33.41px;
  position: relative;
  width: 28.27px;
}

.section .text-wrapper-11 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -3.41px;
  position: relative;
  width: 279px;
}

.section .vector-6 {
  height: 33.35px;
  position: relative;
  width: 32.82px;
}

.section .text-wrapper-12 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -3.35px;
  position: relative;
  width: 279px;
}

.section .frame-17 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 420px;
  position: absolute;
  top: 2342px;
}

.section .frame-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.section .frame-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 245px;
  position: relative;
}

.section .frame-20 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 182px;
  position: relative;
}

.section .frame-21 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.section .text-wrapper-13 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .div-wrapper {
  align-items: center;
  background-color: #0a1328;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
}

.section .text-wrapper-14 {
  color: #e0e1e2;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .text-wrapper-15 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 345px;
}

.section .frame-22 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 230px;
  position: relative;
}

.section .frame-23 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 212px;
  position: relative;
}

.section .frame-24 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 227px;
  position: relative;
}

.section .frame-25 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 206px;
  position: relative;
}

.section .frame-26 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
  left: 420px;
  position: absolute;
  top: 3132px;
}

.section .frame-27 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 24px 24px;
  position: relative;
  width: 1080px;
}

.section .frame-28 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #000000;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.section .image-wrapper {
  background-color: #0a1328;
  border-radius: 4px;
  height: 225px;
  overflow: hidden;
  position: relative;
  width: 344px;
}

.section .image-2 {
  height: 190px;
  left: 77px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 190px;
}

.section .frame-29 {
  align-items: flex-start;
  background-color: #0a1327;
  border-color: #efefef;
  border-radius: 0px 0px 4px 4px;
  border-top-style: solid;
  border-top-width: 0.5px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  padding: 20px 32px 24px 24px;
  position: relative;
  width: 344px;
}

.section .text-wrapper-16 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -0.5px;
  position: relative;
  width: 279px;
}

.section .frame-30 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 420px;
  position: absolute;
  top: 4032px;
}

.section .frame-31 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 205px;
  position: relative;
}

.section .text-wrapper-17 {
  color: #e0e1e2;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.section .frame-32 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 290px;
}

.section .text-wrapper-18 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 290px;
}

.section .frame-33 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 270px;
  position: relative;
}

.section .text-wrapper-19 {
  color: #efefef;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  margin-right: -27px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .frame-34 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
  left: 420px;
  position: absolute;
  top: 4650px;
}

.section .frame-35 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 182px;
  position: relative;
}

.section .vector-7 {
  height: 30.42px;
  position: relative;
  width: 38.03px;
}

.section .text-wrapper-20 {
  color: #c2c2c2;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .vector-8 {
  height: 35.76px;
  position: relative;
  width: 35.76px;
}

.section .bar {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: #00061399;
  height: 69px;
  left: 0;
  position: absolute;
  top: 4954px;
  width: 1920px;
}

.section .frame-36 {
  align-items: center;
  display: inline-flex;
  gap: 5px;
  left: 420px;
  position: absolute;
  top: 16px;
}

.section .MB-wrapper {
  background-color: #183ff5;
  border-radius: 4.23px;
  height: 36.98px;
  position: relative;
  width: 36.98px;
}

.section .MB {
  height: 14px;
  left: 4px;
  position: absolute;
  top: 11px;
  width: 29px;
}

.section .text-wrapper-21 {
  color: #efefef;
  font-family: "Open Sans", Helvetica;
  font-size: 18.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.section .div-divim {
  height: 28px;
  left: 1282px;
  position: absolute;
  top: 21px;
  width: 215px;
}

.section .bar-2 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: #00061399;
  height: 69px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
}
