.certificate-component-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0a1328;
}
.certificate-component-image {
  width: 200px;
  object-fit: cover;
}
